In [2]:
import requests 
import json
import os
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize
import time

In [3]:
#!pip install imdbpy

In [4]:
import imdb

In [5]:
token = "k_uzahin65" #.env por diooooooooos(mensaje de Sonia)

In [6]:
df = pd.read_csv("IMDb movies.csv",encoding = "ISO-8859-1")

/home/pedro/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### df.head()

In [ ]:
### Intento de Cristopher Nolan####

In [8]:
url = "https://imdb-api.com/en/API/SearchMovie/k_uzahin65/Interstellar"

In [9]:
parameters = {"Authorization": f"token {token}"}

In [10]:
#peli = requests.get(url, params=parameters).json()

In [116]:
#peli

In [12]:
#df2 = df[df["title"] == "Interstellar"]

In [120]:
#df2.columns

In [118]:
#df2.head()

## Filtro mi dataset original

In [40]:
nolan = df[df["director"] == "Christopher Nolan"]
nolan

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
33306,tt0154506,Following,Following,1998,2000-08-25,"Crime, Mystery, Thriller",69,UK,English,Christopher Nolan,...,"Jeremy Theobald, Alex Haw, Lucy Russell, John ...",A young writer who follows strangers for mater...,7.5,84550,$ 6000,$ 48482,$ 48482,60.0,208.0,137.0
36475,tt0209144,Memento,Memento,2000,2001-01-19,"Mystery, Thriller",113,USA,English,Christopher Nolan,...,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...",A man with short-term memory loss attempts to ...,8.4,1098879,$ 9000000,$ 25544867,$ 39970386,80.0,2278.0,213.0
39779,tt0278504,Insomnia,Insomnia,2002,2002-11-08,"Drama, Mystery, Thriller",118,"USA, UK",English,Christopher Nolan,...,"Al Pacino, Martin Donovan, Oliver 'Ole' Zemen,...",Two Los Angeles homicide detectives are dispat...,7.2,269304,$ 46000000,$ 67355513,$ 113758770,78.0,694.0,113.0
43935,tt0372784,Batman Begins,Batman Begins,2005,2005-06-17,"Action, Adventure",140,"USA, UK","English, Mandarin",Christopher Nolan,...,"Christian Bale, Michael Caine, Liam Neeson, Ka...","After training with his mentor, Batman begins ...",8.2,1278075,$ 150000000,$ 206852432,$ 373654966,70.0,2911.0,324.0
48078,tt0468569,Il cavaliere oscuro,The Dark Knight,2008,2008-07-23,"Action, Crime, Drama",152,"USA, UK","English, Mandarin",Christopher Nolan,...,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker wreaks havo...,9.0,2241615,$ 185000000,$ 535234033,$ 1005455211,84.0,6938.0,423.0
48754,tt0482571,The Prestige,The Prestige,2006,2006-12-22,"Drama, Mystery, Sci-Fi",130,"UK, USA",English,Christopher Nolan,...,"Hugh Jackman, Christian Bale, Michael Caine, P...","After a tragic accident, two stage magicians e...",8.5,1155723,$ 40000000,$ 53089891,$ 109676311,66.0,1422.0,363.0
50294,tt0816692,Interstellar,Interstellar,2014,2014-11-06,"Adventure, Drama, Sci-Fi",169,"USA, UK, Canada",English,Christopher Nolan,...,"Ellen Burstyn, Matthew McConaughey, Mackenzie ...",A team of explorers travel through a wormhole ...,8.6,1449256,$ 165000000,$ 188020017,$ 696742056,74.0,4100.0,625.0
57234,tt1345836,Il cavaliere oscuro - Il ritorno,The Dark Knight Rises,2012,2012-08-29,"Action, Adventure",164,"UK, USA","English, Arabic",Christopher Nolan,...,"Christian Bale, Gary Oldman, Tom Hardy, Joseph...",Eight years after the Joker's reign of anarchy...,8.4,1480582,$ 250000000,$ 448139099,$ 1081133191,78.0,3004.0,547.0
57475,tt1375666,Inception,Inception,2010,2010-09-24,"Action, Adventure, Sci-Fi",148,"USA, UK","English, Japanese, French",Christopher Nolan,...,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",A thief who steals corporate secrets through t...,8.8,2002816,$ 160000000,$ 292576195,$ 869784991,74.0,3927.0,473.0
76459,tt5013056,Dunkirk,Dunkirk,2017,2017-08-31,"Action, Drama, History",106,"UK, Netherlands, France, USA","English, French, German",Christopher Nolan,...,"Fionn Whitehead, Damien Bonnard, Aneurin Barna...","Allied soldiers from Belgium, the British Empi...",7.9,531422,$ 100000000,$ 189740665,$ 526949403,94.0,2399.0,624.0
81088,tt6723592,Tenet,Tenet,2020,2020-08-26,"Action, Sci-Fi",150,"UK, USA","English, Russian, Ukrainian, Estonian",Christopher Nolan,...,"Elizabeth Debicki, Robert Pattinson, John Davi...","Armed with only one word, Tenet, and fighting ...",7.9,60922,$ 205000000,NaN,$ 53600000,69.0,1128.0,239.0

In [114]:
nolan.to_csv("nolan.csv", index =False)

#### Parte Vengadores #####

In [41]:
marvel = df[df["production_company"] == "Marvel Studios"]
marvel

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
50773,tt0848228,The Avengers,The Avengers,2012,2012-04-25,"Action, Adventure, Sci-Fi",143,USA,"English, Russian, Hindi",Joss Whedon,...,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",Earth's mightiest heroes must come together an...,8.0,1241220,$ 220000000,$ 623357910,$ 1518814206,69.0,1934.0,755.0
55465,tt1211837,Doctor Strange,Doctor Strange,2016,2016-10-26,"Action, Adventure, Fantasy",115,USA,English,Scott Derrickson,...,"Benedict Cumberbatch, Chiwetel Ejiofor, Rachel...",While on a journey of physical and spiritual h...,7.5,578675,$ 165000000,$ 232641920,$ 677718395,72.0,961.0,584.0
56671,tt1300854,Iron Man 3,Iron Man Three,2013,2013-04-24,"Action, Adventure, Sci-Fi",130,USA,English,Shane Black,...,"Robert Downey Jr., Gwyneth Paltrow, Don Cheadl...",When Tony Stark's world is torn apart by a for...,7.2,739816,$ 200000000,$ 409013994,$ 1214811252,62.0,1322.0,643.0
62334,tt1825683,Black Panther,Black Panther,2018,2018-02-14,"Action, Adventure, Sci-Fi",134,USA,"English, Swahili, Nama, Xhosa, Korean",Ryan Coogler,...,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...","T'Challa, heir to the hidden but advanced king...",7.3,597058,$ 200000000,$ 700426566,$ 1347280838,88.0,3243.0,685.0
63622,tt1981115,Thor: The Dark World,Thor: The Dark World,2013,2013-11-20,"Action, Adventure, Fantasy",112,USA,English,Alan Taylor,...,"Chris Hemsworth, Natalie Portman, Tom Hiddlest...",When the Dark Elves attempt to plunge the univ...,6.9,582153,$ 170000000,$ 206362140,$ 644783140,54.0,703.0,525.0
63873,tt2015381,Guardiani della Galassia,Guardians of the Galaxy,2014,2014-10-22,"Action, Adventure, Comedy",121,USA,English,James Gunn,...,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",A group of intergalactic criminals must pull t...,8.0,1023350,$ 170000000,$ 333176600,$ 772791156,76.0,1405.0,721.0
67001,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,2015-04-22,"Action, Adventure, Sci-Fi",141,USA,"English, Korean",Joss Whedon,...,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",When Tony Stark and Bruce Banner try to jump-s...,7.3,722685,$ 250000000,$ 459005868,$ 1402808753,66.0,1306.0,693.0
71476,tt3498820,Captain America: Civil War,Captain America: Civil War,2016,2016-05-04,"Action, Adventure, Sci-Fi",147,USA,"English, German, Xhosa, Russian, Romanian, Hindi","Anthony Russo, Joe Russo",...,"Chris Evans, Robert Downey Jr., Scarlett Johan...",Political involvement in the Avengers' affairs...,7.8,644241,$ 250000000,$ 408084349,$ 1153332120,75.0,1422.0,670.0
73072,tt3896198,Guardiani della Galassia Vol. 2,Guardians of the Galaxy Vol. 2,2017,2017-04-25,"Action, Adventure, Comedy",136,USA,English,James Gunn,...,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",The Guardians struggle to keep together as a t...,7.6,550182,$ 200000000,$ 389813101,$ 863756051,67.0,1047.0,583.0
73864,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,2018-04-25,"Action, Adventure, Sci-Fi",149,USA,English,"Anthony Russo, Joe Russo",...,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",The Avengers and their allies must be willing ...,8.4,796486,$ 321000000,$ 678815482,$ 2048359754,68.0,4273.0,611.0
73865,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,2019-04-24,"Action, Adventure, Drama",181,USA,"English, Japanese, Xhosa, German","Anthony Russo, Joe Russo",...,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",After the devastating events of,8.4,754786,$ 356000000,$ 858373000,$ 2797800564,78.0,8869.0,557.0
76734,tt5095030,Ant-Man and the Wasp,Ant-Man and the Wasp,2018,2018-08-14,"Action, Adventure, Comedy",118,USA,"English, Spanish",Peyton Reed,...,"Paul Rudd, Evangeline Lilly, Michael PeÃ±a, Wa...",As Scott Lang balances being both a superhero ...,7.1,295480,$ 162000000,$ 216648740,$ 622674139,70.0,944.0,436.0

In [52]:
url_avengers = "https://imdb-api.com/en/API/SearchMovie/k_uzahin65/Avengers"

In [55]:
avengers = requests.get(url_avengers, params=parameters).json()

In [56]:
avengers

{'searchType': 'Movie',
 'expression': 'Avengers',
 'results': [{'id': 'tt0848228',
   'resultType': 'Title',
   'image': 'https://imdb-api.com/images/original/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_Ratio0.7273_AL_.jpg',
   'title': 'The Avengers',
   'description': '(2012)'},
  {'id': 'tt4154796',
   'resultType': 'Title',
   'image': 'https://imdb-api.com/images/original/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_Ratio0.7273_AL_.jpg',
   'title': 'Avengers: Endgame',
   'description': '(2019)'},
  {'id': 'tt4154756',
   'resultType': 'Title',
   'image': 'https://imdb-api.com/images/original/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_Ratio0.7273_AL_.jpg',
   'title': 'Avengers: Infinity War',
   'description': '(2018)'},
  {'id': 'tt2395427',
   'resultType': 'Title',
   'image': 'https://imdb-api.com/images/original/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_Ratio0.7273_AL_.jpg',
   'title': 'Avengers: Age of Ultron',
   'description': '(2015)'},
  {'id': 'tt0118661',
   'resultType': 'Title',
   'image': 'https://imdb-api.com/images/original/MV5BYWE1NTdjOWQtYTQ2Ny00Nzc5LWExYzMtNmRlOThmOTE2N2I4XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_Ratio0.7273_AL_.jpg',
   'title': 'The Avengers',
   'description': '(1998)'}],
 'errorMessage': ''}

In [57]:
avengers["results"]

[{'id': 'tt0848228',
  'resultType': 'Title',
  'image': 'https://imdb-api.com/images/original/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_Ratio0.7273_AL_.jpg',
  'title': 'The Avengers',
  'description': '(2012)'},
 {'id': 'tt4154796',
  'resultType': 'Title',
  'image': 'https://imdb-api.com/images/original/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_Ratio0.7273_AL_.jpg',
  'title': 'Avengers: Endgame',
  'description': '(2019)'},
 {'id': 'tt4154756',
  'resultType': 'Title',
  'image': 'https://imdb-api.com/images/original/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_Ratio0.7273_AL_.jpg',
  'title': 'Avengers: Infinity War',
  'description': '(2018)'},
 {'id': 'tt2395427',
  'resultType': 'Title',
  'image': 'https://imdb-api.com/images/original/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_Ratio0.7273_AL_.jpg',
  'title': 'Avengers: Age of Ultron',
  'description': '(2015)'},
 {'id': 'tt0118661',
  'resultType': 'Title',
  'image': 'https://imdb-api.com/images/original/MV5BYWE1NTdjOWQtYTQ2Ny00Nzc5LWExYzMtNmRlOThmOTE2N2I4XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_Ratio0.7273_AL_.jpg',
  'title': 'The Avengers',
  'description': '(1998)'}]

In [92]:
datos = pd.DataFrame(avengers["results"])
datos.head()

,id,resultType,image,title,description
0,tt0848228,Title,https://imdb-api.com/images/original/MV5BNDYxN...,The Avengers,(2012)
1,tt4154796,Title,https://imdb-api.com/images/original/MV5BMTc5M...,Avengers: Endgame,(2019)
2,tt4154756,Title,https://imdb-api.com/images/original/MV5BMjMxN...,Avengers: Infinity War,(2018)
3,tt2395427,Title,https://imdb-api.com/images/original/MV5BMTM4O...,Avengers: Age of Ultron,(2015)
4,tt0118661,Title,https://imdb-api.com/images/original/MV5BYWE1N...,The Avengers,(1998)

In [93]:
datos_renom = {"id": "imdb_title_id"}

In [94]:
datos

,id,resultType,image,title,description
0,tt0848228,Title,https://imdb-api.com/images/original/MV5BNDYxN...,The Avengers,(2012)
1,tt4154796,Title,https://imdb-api.com/images/original/MV5BMTc5M...,Avengers: Endgame,(2019)
2,tt4154756,Title,https://imdb-api.com/images/original/MV5BMjMxN...,Avengers: Infinity War,(2018)
3,tt2395427,Title,https://imdb-api.com/images/original/MV5BMTM4O...,Avengers: Age of Ultron,(2015)
4,tt0118661,Title,https://imdb-api.com/images/original/MV5BYWE1N...,The Avengers,(1998)

In [95]:
datos.rename(columns=datos_renom, inplace=True)

In [96]:
datos

,imdb_title_id,resultType,image,title,description
0,tt0848228,Title,https://imdb-api.com/images/original/MV5BNDYxN...,The Avengers,(2012)
1,tt4154796,Title,https://imdb-api.com/images/original/MV5BMTc5M...,Avengers: Endgame,(2019)
2,tt4154756,Title,https://imdb-api.com/images/original/MV5BMjMxN...,Avengers: Infinity War,(2018)
3,tt2395427,Title,https://imdb-api.com/images/original/MV5BMTM4O...,Avengers: Age of Ultron,(2015)
4,tt0118661,Title,https://imdb-api.com/images/original/MV5BYWE1N...,The Avengers,(1998)

In [102]:
datos.drop(["resultType", "title", "description"], axis=1, inplace=True)

In [103]:
datos

  imdb_title_id                                              image
0     tt0848228  https://imdb-api.com/images/original/MV5BNDYxN...
1     tt4154796  https://imdb-api.com/images/original/MV5BMTc5M...
2     tt4154756  https://imdb-api.com/images/original/MV5BMjMxN...
3     tt2395427  https://imdb-api.com/images/original/MV5BMTM4O...
4     tt0118661  https://imdb-api.com/images/original/MV5BYWE1N...

In [59]:
json_normalize(avengers["results"])

,id,resultType,image,title,description
0,tt0848228,Title,https://imdb-api.com/images/original/MV5BNDYxN...,The Avengers,(2012)
1,tt4154796,Title,https://imdb-api.com/images/original/MV5BMTc5M...,Avengers: Endgame,(2019)
2,tt4154756,Title,https://imdb-api.com/images/original/MV5BMjMxN...,Avengers: Infinity War,(2018)
3,tt2395427,Title,https://imdb-api.com/images/original/MV5BMTM4O...,Avengers: Age of Ultron,(2015)
4,tt0118661,Title,https://imdb-api.com/images/original/MV5BYWE1N...,The Avengers,(1998)

In [83]:
df_avengers = df[df['title'].str.contains("Avengers")]
#df_avengers = df[df["title"] == "The Avengers"]

In [84]:
df_avengers

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
30382,tt0118661,The Avengers - Agenti speciali,The Avengers,1998,1998-10-30,"Action, Adventure, Sci-Fi",89,USA,English,Jeremiah S. Chechik,...,"Ralph Fiennes, Uma Thurman, Sean Connery, Patr...",Two British Agents team up to stop Sir August ...,3.8,40374,$ 60000000,$ 23384939,$ 23384939,12.0,471.0,118.0
50773,tt0848228,The Avengers,The Avengers,2012,2012-04-25,"Action, Adventure, Sci-Fi",143,USA,"English, Russian, Hindi",Joss Whedon,...,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",Earth's mightiest heroes must come together an...,8.0,1241220,$ 220000000,$ 623357910,$ 1518814206,69.0,1934.0,755.0
67001,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,2015-04-22,"Action, Adventure, Sci-Fi",141,USA,"English, Korean",Joss Whedon,...,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",When Tony Stark and Bruce Banner try to jump-s...,7.3,722685,$ 250000000,$ 459005868,$ 1402808753,66.0,1306.0,693.0
73864,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,2018-04-25,"Action, Adventure, Sci-Fi",149,USA,English,"Anthony Russo, Joe Russo",...,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",The Avengers and their allies must be willing ...,8.4,796486,$ 321000000,$ 678815482,$ 2048359754,68.0,4273.0,611.0
73865,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,2019-04-24,"Action, Adventure, Drama",181,USA,"English, Japanese, Xhosa, German","Anthony Russo, Joe Russo",...,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",After the devastating events of,8.4,754786,$ 356000000,$ 858373000,$ 2797800564,78.0,8869.0,557.0
79848,tt6172666,Avengers of Justice: Farce Wars,Avengers of Justice: Farce Wars,2018,2018,"Action, Comedy, Family",87,USA,English,Jarret Tarnol,...,"Amy Smart, Shawn Michaels, Stephen Rannazzisi,...",While trying to remain a good husband and fath...,2.3,342,NaN,NaN,NaN,NaN,17.0,4.0

In [87]:
df_avengers.drop([30382,79848], axis=0, inplace=True)

/home/pedro/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [88]:
df_avengers

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
50773,tt0848228,The Avengers,The Avengers,2012,2012-04-25,"Action, Adventure, Sci-Fi",143,USA,"English, Russian, Hindi",Joss Whedon,...,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",Earth's mightiest heroes must come together an...,8.0,1241220,$ 220000000,$ 623357910,$ 1518814206,69.0,1934.0,755.0
67001,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,2015-04-22,"Action, Adventure, Sci-Fi",141,USA,"English, Korean",Joss Whedon,...,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",When Tony Stark and Bruce Banner try to jump-s...,7.3,722685,$ 250000000,$ 459005868,$ 1402808753,66.0,1306.0,693.0
73864,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,2018-04-25,"Action, Adventure, Sci-Fi",149,USA,English,"Anthony Russo, Joe Russo",...,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",The Avengers and their allies must be willing ...,8.4,796486,$ 321000000,$ 678815482,$ 2048359754,68.0,4273.0,611.0
73865,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,2019-04-24,"Action, Adventure, Drama",181,USA,"English, Japanese, Xhosa, German","Anthony Russo, Joe Russo",...,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",After the devastating events of,8.4,754786,$ 356000000,$ 858373000,$ 2797800564,78.0,8869.0,557.0

In [109]:
avengers_df = df_avengers.merge(datos, on='imdb_title_id', how='left')

In [110]:
avengers_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,image
0,tt0848228,The Avengers,The Avengers,2012,2012-04-25,"Action, Adventure, Sci-Fi",143,USA,"English, Russian, Hindi",Joss Whedon,...,Earth's mightiest heroes must come together an...,8.0,1241220,$ 220000000,$ 623357910,$ 1518814206,69.0,1934.0,755.0,https://imdb-api.com/images/original/MV5BNDYxN...
1,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,2015-04-22,"Action, Adventure, Sci-Fi",141,USA,"English, Korean",Joss Whedon,...,When Tony Stark and Bruce Banner try to jump-s...,7.3,722685,$ 250000000,$ 459005868,$ 1402808753,66.0,1306.0,693.0,https://imdb-api.com/images/original/MV5BMTM4O...
2,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,2018-04-25,"Action, Adventure, Sci-Fi",149,USA,English,"Anthony Russo, Joe Russo",...,The Avengers and their allies must be willing ...,8.4,796486,$ 321000000,$ 678815482,$ 2048359754,68.0,4273.0,611.0,https://imdb-api.com/images/original/MV5BMjMxN...
3,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,2019-04-24,"Action, Adventure, Drama",181,USA,"English, Japanese, Xhosa, German","Anthony Russo, Joe Russo",...,After the devastating events of,8.4,754786,$ 356000000,$ 858373000,$ 2797800564,78.0,8869.0,557.0,https://imdb-api.com/images/original/MV5BMTc5M...

In [115]:
avengers_df.to_csv("avengers_df.csv", index = False)